apiVersion: apps/v1
kind: Deployment
metadata:
  name: kva-api
spec:
  replicas: 10
  template:
    spec:
      containers:
      - name: kva-api
        resources:
          requests:
            cpu: 1000m
            memory: 2Gi
          limits:
            cpu: 4000m
            memory: 8Gi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - kva-api
              topologyKey: kubernetes.io/hostname
